@media (max-width: 1312px) {
  .sidebar {
    width: 9% !important;
  }
  .positionBody {
    left: 9% !important;
    width: 90% !important;
  }
  .Action {
    flex-direction: column !important;
    gap: 0 !important;
    margin: 0 !important;
    margin-bottom: 7px !important;
    height: 50px !important;
    width: auto !important;
  }
  .Action p {
    font-size: 10px;
  }
  .Logos .MenuIcon {
    margin-left: 23px;
  }
  #footer-links {
    display: none;
  }
  .sidebar_hr {
    display: none;
  }
  .SearchBar {
    width: 65%;
  }
}
@media (max-width: 1024px) {
  .sidebar {
    width: 12% !important;
  }
  .positionBody {
    width: 88% !important;
    left: 12% !important;
  }
  .sidebar_hr {
    display: none;
  }
  .Logos {
    width: 18% !important;
    padding-left: 26px !important;
    gap: 9px !important;
  }
  .nav_bar_fixed {
    left: 18% !important;
    min-width: 82% !important;
  }
  .Bar {
    padding-left: 60px;
  }
}
@media (max-width: 800px) {
  .SearchBar {
    width: max-content !important;
  }
  .Bar {
    display: none;
  }
  .SearchIcon {
    background-color: transparent !important;
    border: none !important;
    padding-top: 3px !important;
  }
  .TopBar {
    justify-content: right !important;
  }
  .NavBarActions {
    margin-left: 10px !important;
  }
}
@media (max-width: 768px) {
  .Action p {
    display: none;
  }
  .sidebar {
    width: 4% !important;
  }
  .positionBody {
    width: 96% !important;
    left: 4% !important;
  }
  .Action {
    padding: 5px 0 0 0 !important;
  }
  .Logos {
    padding: 0 !important;
  }
  .MenuIcon {
    margin-left: 4px !important;
  }
}
@media (max-width: 425px) {
  .nav_bar_fixed {
    left: 35% !important;
    min-width: 65% !important;
  }
  .Logos {
    width: 35% !important;
  }
  .NavBarActions {
    display: none !important;
  }
  .sidebar {
    width: 7% !important;
  }
  .positionBody {
    width: 93% !important;
    left: 7% !important;
  }
}
@media (max-width: 320px) {
  .nav_bar_fixed {
    left: 50% !important;
    min-width: 50% !important;
  }
  .Logos {
    width: 50% !important;
  }
}
