@{
    ViewData["column"] = "";

}

<div class="col-12 col-lg-12 videos">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
    <partial name="VideoCard.cshtml" view-data="ViewData">
</div>
