@model List<YouTube.ViewModels.VideoChannel>
@{
    ViewData["column"] = "";
}

<div class="col-12 col-lg-12 videos">
    @foreach (var v in @Model)
    {
        <partial name="VideoCard.cshtml" view-data="ViewData" model=@v />
    }
</div>
