<div class="comment">
   <img src="~/css/images/profile.jpg" alt="profile" class="profile_img comment_profile">
   <div class="comment_content">
      <span class="commenter">John Doe</span>
      <span class="comment_date">1 year ago</span>
      <p class="comment_text">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, temporibus.Lorem ipsum dolor sit amet,
         consectetur adipisicing elit. Quisquam, temporibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <span class="comment_like">
         <img src="~/css/images/like.png" alt="like">
         <span class="comment_likes_count">99,254</span>
      </span>
      <span class="comment_dislike">
         <img src="~/css/images/dislike.png" alt="dislike">
      </span>
   </div>
</div>
