<div class="navBarWrapper">
    <div class="Logos">
        <img src="~/css/images/Hamburger-Menü.png" alt="MenuIcon" class="MenuIcon" />
        <img src="~/css/images/Logo.png" alt="youtubeLogo" class="Logo" />
    </div>
    <div class="sidebar">
        <partial name="Components/SideBarSection/Actions" />
        <hr class="sidebar_hr" />
        <partial name="PartialViews/Footer" />
    </div>
</div>
