<div class="navBarWrapper">
    <div class="Logos">
        <img
            src="~/css/images/Hamburger-Menü.png"
            alt="MenuIcon"
            class="MenuIcon"
        />
        <img src="~/css/images/Logo.png" alt="youtubeLogo"  class="Logo"/>
    </div>
    <div class="sidebar">
        @Html.Partial("Components/SideBarSection/Actions")
        <hr class="sidebar_hr" />
        @Html.Partial("PartialViews/Footer")
    </div>
</div>

<script>
$('.MenuIcon').click(function(e)
{
    $('.sidebar').toggleClass('collapsed_bar');
});
</script>
