@section link
{
<link rel="stylesheet" href="~/css/HomeStyles/Responsive.css" />
<link rel="stylesheet" href="~/css/HomeStyles/Home.css" />
<link rel="stylesheet" href="~/css/Explore.css" />
}

<div class="nav_bar">
   <vc:side-bar-section section-string="full"></vc:side-bar-section>
   <div class="nav_bar_fixed">
      <partial name="Components/SideBarSection/TopBarPartial" />
      <hr class="positionBody hr" />
   </div>
   <div class="positionBody videoBody">
      <div class="ExploreSections">
         <div class="ExploreSection" id="TrendingSection">
            <img
               src="https://img.icons8.com/external-anggara-flat-anggara-putra/32/000000/external-trending-ui-basic-anggara-flat-anggara-putra-2.png" />
            <h6>Trending</h6>
         </div>
         <div class="ExploreSection" id="MusicSection">
            <img src="~/css/images/music.png" />
            <h6>Music</h6>
         </div>
         <div class="ExploreSection" id="GamingSection">
            <img src="~/css/images/gaming.png" />
            <h6>Gaming</h6>
         </div>
         <div class="ExploreSection" id="NewsSection">
            <img src="~/css/images/news.png" />
            <h6>News</h6>
         </div>
         <div class="ExploreSection" id="SportsSection">
            <img src="~/css/images/sports.png" />
            <h6>Sports</h6>
         </div>
      </div>
      <div class="SectionContent"></div>
   </div>
</div>

@section Scripts
{
<script>
   $(document).ready(function () {
      $.get("/Explore/Trending", function (data, status) {
         @* console.log(data); *@
            $(".SectionContent").html(data);
      });
   });
   $("#TrendingSection").on('click', function () {
      $.get("/Explore/Trending", function (data, status) {
         @* console.log(data); *@
            $(".SectionContent").html(data);
      });
   });
   $("#MusicSection").on('click', function () {
      $.get("/Explore/Music", function (data, status) {
         $(".SectionContent").html(data);
      });
   });
   $("#GamingSection").on('click', function () {
      $.get("/Explore/Gaming", function (data, status) {
         $(".SectionContent").html(data);
      });
   });
   $("#NewsSection").on('click', function () {
      $.get("/Explore/News", function (data, status) {
         $(".SectionContent").html(data);
      });
   });
   //SIDE BAR SECTION SCRIPTS
   $('.MenuIcon').click(function (e) {
      $('.nav_bar').toggleClass('collapsed_expand');
   });

   //SEARCH
   $("#Search").keyup(function () {
      var query = $("#Search").val();
      $.ajax({
         type: "POST",
         url: "Explore/Search",
         data: JSON.stringify($("#Search").val()),
         contentType: "application/json; charset=utf-8",
         dataType: "json",
         success: function (videosReturned) {
            $(".SectionContent").html(jsonToHtml(videosReturned));
            console.log(videosReturned);
         },
         error: function (err) {
            console.log(err);
         }
      });
   });

   function jsonToHtml(jsonVideos) {
      var html = "";
      for (var i = 0; i < jsonVideos.length; i++) {
         html += "<div class='card coulmn' onclick='videoOpen'><img class='card-img-top column-img' src='/uploadedthumbnails/" + jsonVideos[i].thumbnail + "' alt='Card image cap'><div class='card-body column-body'><h6 class='video-title'>" + jsonVideos[i].title + "</h6><p><span class='video-channel'>Learn DotNet</span><span class='dot'>.</span><span class='video-views'>0 Views</span><span class='dot'>.</span><span class='video-time'>7 days ago</span></p><p>" + jsonVideos[i].description + "</p></div></div>";
      }
      return html;
   }

   @* function videoOpen(event) {
         console.log("xnbvnfdbn");
         let videoUrl = event.target.getAttribute("data-arg0");
         console.log(videoUrl);
         } *@
</script>
}
