@{
   Layout = null;
}
<div class="trendingVideosContainer">
   <h4>News Videos</h4>
   @foreach (video v in @Model)
   {
      <div class="card coulmn" data-title=@v.Url id="videoClickList">
         <img class="card-img-top column-img" src="~/uploadedthumbnails/@v.Thumbnail" alt="Card image cap">
         <div class="card-body column-body">
            <h6 class="video-title">@v.Title</h6>
            <p>
               <span class="video-channel">Learn DotNet</span>
               <span class="dot">.</span>
               <span class="video-views">@v.ViewsCount Views</span>
               <span class="dot">.</span>
               <span class="video-time">@v.TimeLine 7 days ago</span>
            </p>
            <p>@v.Description</p>
         </div>
      </div>
   }
   <div class="">
      <partial name="VideoCardLarge.cshtml">
         <partial name="VideoCardLarge.cshtml">
            <partial name="VideoCardLarge.cshtml">
               <partial name="VideoCardLarge.cshtml">
                  <partial name="VideoCardLarge.cshtml">
                     <partial name="VideoCardLarge.cshtml">
                        <partial name="VideoCardLarge.cshtml">
                           <partial name="VideoCardLarge.cshtml">
                              <partial name="VideoCardLarge.cshtml">
                                 <partial name="VideoCardLarge.cshtml">
                                    <partial name="VideoCardLarge.cshtml">
                                       <partial name="VideoCardLarge.cshtml">
                                          <partial name="VideoCardLarge.cshtml">
                                             <partial name="VideoCardLarge.cshtml">
                                                <partial name="VideoCardLarge.cshtml">
                                                   <partial name="VideoCardLarge.cshtml">
                                                      <partial name="VideoCardLarge.cshtml">
                                                         <partial name="VideoCardLarge.cshtml">
                                                            <partial name="VideoCardLarge.cshtml">
   </div>
</div>
@* @section Scripts
   { *@
<script type="text/javascript">
   $("#videoClickList").on("click", function () {
      console.log("Clicked");
      string url = $("#videoClickList").data("title");
      console.log(url);
   });
</script>
@* } *@
