@{
   Layout = null;
}
<div class="trendingVideosContainer">
   <h4>News Videos</h4>
   @foreach (video v in @Model)
   {
      <div class="card coulmn" data-arg0=@v.Url onclick="videoOpen">
         <img class="card-img-top column-img" src="~/uploadedthumbnails/@v.Thumbnail" alt="Card image cap">
         <div class="card-body column-body">
            <h6 class="video-title">@v.Title</h6>
            <p>
               <span class="video-channel">Learn DotNet</span>
               <span class="dot">.</span>
               <span class="video-views">@v.ViewsCount Views</span>
               <span class="dot">.</span>
               <span class="video-time">@v.TimeLine 7 days ago</span>
            </p>
            <p>@v.Description</p>
         </div>
      </div>
   }
</div>
@section Scripts
{
<script>
   @* function videoOpen(event) {
      let videoUrl = event.target.getAttribute("data-arg0");
      console.log(videoUrl);
   } *@
</script>
}
