@{
    Layout = null;
}

<div class="trendingVideosContainer">
    <h4>Trending Videos</h4>
    <div class="">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
        <partial name="VideoCardLarge.cshtml">
    </div>
</div>
