<div class="card coulmn">
   <img class="card-img-top column-img" src="~/css/images/profile.jpg" alt="Card image cap">
   <div class="card-body column-body">
      <h6 class="video-title">Partial Views Tutorial In DotNet | C# | Web Developmet </h6>
      <p>
         <span class="video-channel">Learn DotNet</span>
         <span class="dot">.</span>
         <span class="video-views">30k Views</span>
         <span class="dot">.</span>
         <span class="video-time">7 days ago</span>
      </p>
      <p>This is description of video. Buddha quotes on wisdom Buddha quotes on life Gautam buddha whattsap status
         English inspirational Status...</p>
   </div>
</div>
