@section link
{
<link rel="stylesheet" href="~/css/HomeStyles/Responsive.css" />
<link rel="stylesheet" href="~/css/HomeStyles/Home.css" />
}

<div class="nav_bar">
    <vc:side-bar-section section-string="full"></vc:side-bar-section>
    <div class="nav_bar_fixed">
        <partial name="Components/SideBarSection/TopBarPartial" />
        <hr class="positionBody hr" />
    </div>
    <div class="positionBody videoBody">
        <partial name="PartialViews/Videos" model=@Model />
    </div>
</div>

@section Scripts
{
<script>

    //SIDE BAR SECTION SCRIPTS
    $('.MenuIcon').click(function (e) {
        $('.nav_bar').toggleClass('collapsed_expand');
    });
</script>
}
@* "DefaultConnection": "Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=YouTubeV2;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" *@
