<div class="video">
      <iframe class="video_iframe" src="https://www.youtube.com/embed/izYLLL1I1c0">
      </iframe>
</div>
<div class="video_Meta">
      <div class="video_Tags">
            #karma #smile #character
      </div>
      <div class="video_Title">
            Karma Says|| English motivational video || Buddha quotes status |
      </div>
      <div class="video_Details">
            <div class="video_Description">
                  <span class="views">99,254 views</span>
                  <span class="date">Apr 25, 2021</span>
                  <span class="description">
                        Buddha quotes on wisdom
                        Buddha quotes on life
                        Gautam buddha whattsap status
                        English inspirational quotes
                        Status
                        This is a motivational video for everyone who is looking for a positive attitude and a positive
                        attitude is the key to success.
                  </span>
            </div>
            <div class="video_Actions">
                  <span class="likes">
                        <i class="fas fa-thumbs-up"></i>
                        <span class="likes_count">99,254</span>
                  </span>
                  <span class="dislikes">
                        <i class="fas fa-thumbs-down"></i>
                        <span class="dislikes_count">Dislike</span>
                  </span>
                  <span class="share">
                        <i class="fas fa-share-alt"></i>
                        <span class="share_count">share</span>
                  </span>
                  <span class="save">
                        <i class="fas fa-save"></i>
                        <span class="save_count">save</span>
                  </span>
            </div>
            <div class="video_Channel">
                  <div class="channel_Profile">
                        <img src="~/Images/profile.jpg" alt="">
                  </div>
                  <div class="channel_Details">
                        <div class="channel_Name">
                              <span class="channel_Name_Text">
                                    Gautam Buddha
                              </span>
                              <span class="channel_Verified">
                                    <i class="fas fa-check-circle"></i>
                              </span>
                        </div>
                        <div class="channel_Subscribers">
                              <span class="channel_Subscribers_Text">
                                    1.2M subscribers
                              </span>
                        </div>
                  </div>
                  <button class="channel_Subscribe">
                        Subscribe
                  </button>
            </div>
            <div class="video_Comments_Snap">
                  <div class="comments_detail">
                        <p>Comments</p>
                        <p class="comments_count">99,254</p>
                  </div>
                  <hr>
                  <div class="comment_snap">
                        <img class="comment_snap_Profile" src="~/Images/profile.jpg" alt="">
                        <p>this is sample comment.</p>
                  </div>
            </div>
      </div>
</div>
