@{
    ViewData["column"] = "column";
}

<div class="suggestions">
   <partial name="VideoCardPartial.cshtml" view-data="ViewData">
   <partial name="VideoCardPartial.cshtml" view-data="ViewData">
   <partial name="VideoCardPartial.cshtml" view-data="ViewData">
   <partial name="VideoCardPartial.cshtml" view-data="ViewData">
   <partial name="VideoCardPartial.cshtml" view-data="ViewData">
   <partial name="VideoCardPartial.cshtml" view-data="ViewData">
   <partial name="VideoCardPartial.cshtml" view-data="ViewData">
   <partial name="VideoCardPartial.cshtml" view-data="ViewData">

</div>
